.pagination {
	display: flex;
	justify-content: center;
}

.panel-body {
	padding-top: 10px;
	direction: rtl;
}

.panel-title {
	direction: rtl;
}

h1, h2, h3, h4, h5, h6, .navbar {
	font-family: $base-font-family;
	margin-top: 6px
}

.block-code {
	word-wrap: break-word;
    position: relative;
    display: block;
    font-family: sans-serif;
    background-color: rgba(0,0,0,.05);
    font-size: 16px;
    padding: 5px 20px !important;
	direction: ltr;
	white-space: pre-line
}

.inline-code {
	direction: ltr;
    padding: .2em .4em;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
	border-radius: 3px;
	font-family: sans-serif;
}

._ltr {
	direction: ltr;
}

.post-meta {
	direction: rtl;
}

ol {
    line-height: 1.8;
}

.post-content-img {
	margin-bottom: 20px;
}